<!DOCTYPE html>
<html>
<head>
    <title>Diabetes Prediction</title>
</head>
<body>
    <h2>Diabetes Prediction Form</h2>
    <form action="/predict" method="post">
        <p><input type="number" step="any" name="Pregnancies" placeholder="Pregnancies" required></p>
        <p><input type="number" step="any" name="Glucose" placeholder="Glucose" required></p>
        <p><input type="number" step="any" name="BloodPressure" placeholder="Blood Pressure" required></p>
        <p><input type="number" step="any" name="SkinThickness" placeholder="Skin Thickness" required></p>
        <p><input type="number" step="any" name="Insulin" placeholder="Insulin" required></p>
        <p><input type="number" step="any" name="BMI" placeholder="BMI" required></p>
        <p><input type="number" step="any" name="DiabetesPedigreeFunction" placeholder="Diabetes Pedigree Function" required></p>
        <p><input type="number" step="any" name="Age" placeholder="Age" required></p>
        <p><input type="submit" value="Predict"></p>
    </form>

    {% if prediction_text %}
        <h3>{{ prediction_text }}</h3>
    {% endif %}
</body>
</html>
